<form [formGroup]="transferForm">
    <div class="form-container">
        <div *ngFor="let prc of procedures" class="row">
            <div *ngFor="let procedures of prc" class="col-md-4 col-4 name-col">
                <mat-form-field appearance="fill">
                    <mat-label>Cost for {{procedures.details.name}}</mat-label>
                    <input matInput type="number" [formControlName]="procedures._id" required>
                </mat-form-field>
            </div>
        </div>
    </div>
</form>
<div class="row submitbuttom">
    <div class="col-md-12 col-12">
        <button (click)="addParticipant()" [disabled]="(!transferForm.valid)" mat-raised-button color="primary">
            <span>Send</span>
            <mat-icon class="send-icon">send</mat-icon>
        </button>
    </div>
</div>