<form [formGroup]="transferForm">
    <div class="form-container">
        <div class="row address">
            <mat-form-field appearance="fill">
                <mat-label>Enter Patient Address</mat-label>
                <input matInput formControlName="address" required>
            </mat-form-field>
        </div>
    </div>
</form>
<div class="row submitbuttom">
    <button [disabled]="(!transferForm.valid)" (click)="admitPatient()" mat-raised-button color="primary">
        <span>Send</span>
        <mat-icon class="send-icon">send</mat-icon>
    </button>
</div>