
<div *ngIf="data.policyFlag == 1">
    <h1 mat-dialog-title>Policy Name : {{data.name}}</h1>
    <div mat-dialog-content>
        <ul type="none">
            <li><b>Cost : </b> {{data.cost}}</li>
            <li><b>Total Coverage : </b> {{data.total_coverage}}</li>
            <li><b>Critical Coverage :</b> {{data.coverage[0]}} %</li>
            <li><b>Moderate Coverage :</b> {{data.coverage[1]}} %</li>
            <li><b>Medical Mgmt. Coverage :</b> {{data.coverage[2]}} %</li>
        </ul>
    </div>
</div>
<div *ngIf="data.policyFlag != 1">
    <h1 mat-dialog-title>Patient policy doesn't exist</h1>
</div>