<div class="box">

    <mat-sidenav-container class="example-container" autosize>

        <mat-sidenav #sidenav mode="side" opened class="example-sidenav" fixedInViewport="true">

            <div class="row admin-icon">
                <mat-icon *ngIf="userType == 1">
                    admin_panel_settings
                </mat-icon>
                <mat-icon *ngIf="userType == 2">
                    local_hospital
                </mat-icon>
                <mat-icon *ngIf="userType == 3">
                    business
                </mat-icon>
                <mat-icon *ngIf="userType == 5">
                    account_circle
                </mat-icon>
                <mat-icon *ngIf="userType == 4">
                    masks
                </mat-icon>
            </div>

            <mat-nav-list>
                <div *ngIf="userType == 1">
                    <a mat-list-item [routerLink]="['add-participant']"> Add Network Participant </a>
                    <a mat-list-item [routerLink]="['transfer-token']"> Transfer MediC </a>
                    <a mat-list-item [routerLink]="['add-procedure']"> Add Procedure </a>
                </div>

                <div *ngIf="userType == 3">
                    <a mat-list-item [routerLink]="['add-policy']"> Add Insurance Policy </a>
                    <a mat-list-item [routerLink]="['view-policies']"> View All Policies </a>
                    <a mat-list-item [routerLink]="['get-enrolled-customers']"> Enrolled Cutomers </a>
                </div>

                <div *ngIf="userType == 5">
                    <a mat-list-item [routerLink]="['enroll-policy']"> Enroll Insurance </a>
                    <!-- TODO: Duplicate above anchor and add ngif condition for if policy does exist then show enrolled policy else add policy -->
                    <a mat-list-item href="..."> Pay Bill </a>
                </div>


                <a mat-list-item href="..."> View Network Hospitals </a>
                <div *ngIf="userType == 4">
                    <a mat-list-item href="..."> Add Patient Procedure </a>
                    <a mat-list-item href="..."> View My Agreement </a>
                </div>
                <div *ngIf="userType == 2">
                    <a mat-list-item [routerLink]="['add-doctor']"> Add Doctor </a>
                    <a mat-list-item [routerLink]="['add-procedures-cost']"> Add Procedure Costs </a>
                    <a mat-list-item [routerLink]="['hospatlize']"> Admit Patient </a>
                    <a mat-list-item href="..."> Check Insurance </a>
                    <a mat-list-item href="..."> Generate Patient Bill </a>
                </div>

                <a mat-list-item *ngIf="userType==2 || userType==3" [routerLink]="['add-escrow-bal']"> Add Escrow
                    Balance </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content class="example-sidenav-content">
            <mat-toolbar class="header" color="primary">
                <mat-toolbar-row>
                    <span [routerLink]="['']">
                        <h1>MediC</h1>
                    </span>
                    <span class="example-spacer"></span>
                    <div matTooltip="Connected Address" class="auto-width">
                        <mat-icon>account_balance_wallet</mat-icon>
                        <span class="bal">{{selected | slice:0:7}}</span>
                    </div>
                    <div matTooltip="MediC Balance" class="balance">
                        <mat-icon>medical_services</mat-icon>
                        <span class="bal">{{balance}}</span>
                    </div>

                    <div *ngIf="userType == 2 || userType == 3" matTooltip="Escrow Balance" class="balance">
                        <mat-icon><span class="material-icons">
                                account_balance
                            </span></mat-icon>
                        <span class="bal">{{escrowBalance}}</span>
                    </div>

                    <div>
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>account_circle</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button (click)="logout()" mat-menu-item>
                                <mat-icon>logout</mat-icon>
                                <span>Logout</span>
                            </button>
                        </mat-menu>
                    </div>

                </mat-toolbar-row>
            </mat-toolbar>
            <router-outlet></router-outlet>

        </mat-sidenav-content>

    </mat-sidenav-container>
</div>