.example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    background: #C9DDFF;
    padding: 10px;
  }

  .example-sidenav-content{
      background: #F0BCC7;
      width: 100%;
      height:100%
  }
