<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav" [fixedInViewport]="true">
        Sidenav
    </mat-sidenav>

    <mat-sidenav-content class="example-sidenav-content">
        <mat-toolbar class="row" color="primary">
            <mat-toolbar-row>
                <span>My App</span>
                <span class="example-spacer"></span>
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon>menu</mat-icon>
                </button>
                <span class="example-spacer"></span>
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon>menu</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
    </mat-sidenav-content>

</mat-sidenav-container>