.form-container{
    height: 100%;
    justify-content: center;
}

.address{
    width: 400px;
    padding: 0 !important;
}
.amount{
    width: 400px;
}
mat-form-field{
    padding: 0;
}
.send-icon{
    padding-left: 10px;
}