.form-container{
    height: 100%;
    justify-content: center;
}
.row{
    width: 800px;
    .col{
        // padding: 0px !important;
        padding: 2% !important;
        padding-bottom: 0px !important;
        padding-top: 0px !important;
    }
}
mat-form-field{
    padding: 0;
    width: 100%;
    
}
mat-select{
    width: 100% !important;
}
button{
    width: 100% !important;
}
.send-icon{
    padding-left: 10px;
}