.init-page{
    background-color: #fff4dd;
    height: 100%;
    display: flex; justify-content:center; align-items:center;
}
.initscope{
    text-align: center;
}

mat-icon{
    width: 80px;
    height: 80px;
}

.buttonrow{
margin: 0% !important;
}

h1{
    font-weight: bolder;
    font-size: xxx-large;
    font-family: cursive;
    color: #4c4c4c;
}

button{
    border-radius: 100px;
    width: 300px;
    margin: 0%;
    background-color: rgba(240, 248, 255, 0.623);
    color: #4c4c4c;
}