/* You can add global styles to this file, and also import other style files */
@import "styles/variables"; 
@import "~@angular/material/prebuilt-themes/indigo-pink.css"; 
@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

/* Import Bootstrap Reboot */
 @import "~bootstrap/scss/root";
 @import "~bootstrap/scss/reboot";

@import "~bootstrap/scss/containers";
 /* // Add .container and .container-fluid classes */
@import "~bootstrap/scss/grid";
/* // Add the grid system */
@import "styles/reset"; 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
.success-dialog {
    color: rgb(24, 24, 70) !important;
    background-color: rgb(113, 197, 113) !important;
    .mat-simple-snackbar-action {
        color: white !important;
    }
}

.warning-dialog {
    color: rgb(32, 25, 66) !important;
    background-color: rgb(228, 226, 106) !important;
    .mat-simple-snackbar-action {
        color: white !important;
    }
}

.error-dialog {
    color: rgb(64, 61, 80) !important;
    background-color: rgb(218, 75, 50) !important;
    .mat-simple-snackbar-action {
        color: white !important;
    }
}