<form [formGroup]="transferForm">
    <div class="form-container">
        <div class="row address-row">
            <div class="col-md-12 col-12 select-col">
                <mat-form-field appearance="fill">
                    <mat-label>Choose an option</mat-label>
                    <mat-select formControlName="procedureType">
                        <mat-option value="1">Critical</mat-option>
                        <mat-option value="2">Moderate</mat-option>
                        <mat-option value="3">Medical Management</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-12">
                <mat-form-field appearance="fill">
                    <mat-label>Procedure Name</mat-label>
                    <input matInput formControlName="name" required>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-12">
                <mat-form-field appearance="fill">
                    <mat-label>Description</mat-label>
                    <textarea formControlName="description" matInput placeholder="Procedure Description" required></textarea>
                </mat-form-field>
            </div>
        </div>

    </div>
</form>
<div class="row submitbuttom">
    <div class="col-md-12 col-12">
        <button (click)="addParticipant()" [disabled]="(!transferForm.valid)" mat-raised-button color="primary">
            <span>Send</span>
            <mat-icon class="send-icon">send</mat-icon>
        </button>
    </div>
</div>