<form [formGroup]="transferForm">
    <div class="form-container">
        <div class="row address-row">
            <div class="col-md-6 address-col">
                <mat-form-field appearance="fill">
                    <mat-label>Enter Participent Address</mat-label>
                    <input matInput formControlName="address" required>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="fill">
                    <mat-label>Choose an option</mat-label>
                    <mat-select>
                        <mat-option value="option1">Insurer</mat-option>
                        <mat-option value="option3">Hospital</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="row amount">
            <mat-form-field appearance="fill">
                <mat-label>Amount</mat-label>
                <input type="number" matInput formControlName="amount" required>
            </mat-form-field>
        </div>
    </div>
</form>
<div class="row submitbuttom">
    <button [disabled]="(!transferForm.valid)" mat-raised-button color="primary">
        <span>Send</span>
        <mat-icon class="send-icon">send</mat-icon>
    </button>
</div>